/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Body y fondo negro */
body {
    background-color: #000;
    color: #f0f0f0;
    line-height: 1.6;
}

/* Header */
header {
    text-align: center;
    padding: 2rem 1rem;
    background: rgba(32, 32, 32, 0.8);
    backdrop-filter: blur(10px);
}

/* Secciones */
.apartado {
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    background: rgba(32, 32, 32, 0.8); /* gris oscuro semitransparente */
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    text-align: center;
}

.apartado h2 {
    color: #fff;
}

/* Botones */
.btn {
    display: block;
    width: 300px;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(45deg, #bd58ca 10%, #e2b552 40%);
    background-size: 200% 100%;
    background-position: left;
    border-radius: 10px;
    transition: background-position 0.5s ease, transform 0.3s, opacity 0.3s;
    text-align: center;
}

.btn:hover {
    background-position: right; /* hace que el gradiente se desplace */
    transform: scale(1.05);
}

h2 {
    background: linear-gradient(90deg, #ff63ff, #fffb00); /* gradiente de izquierda a derecha */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s, opacity 0.3s;
    font-size: 1.5rem;
}

    .apartado a { margin: 1rem auto; padding: 0.5rem 2rem; }
    .apartado .ejercicios { max-height: 0; overflow: hidden; transition: max-height 0.5s ease; margin-left: 1rem; }
    .apartado h2 { cursor: pointer; user-select: none; padding: 0.5rem; border-radius: 5px; }
    .apartado .ejercicios.open { max-height: 1000px; }